<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>944533292885-vrmiiqpvgudnr710o5g90tfoa7nh7v2t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.944533292885-vrmiiqpvgudnr710o5g90tfoa7nh7v2t</string>
	<key>API_KEY</key>
	<string>AIzaSyAvx9OpolwlRqM8M_FBk67LxSznisfq4sA</string>
	<key>GCM_SENDER_ID</key>
	<string>944533292885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Sandordost.KLOOTN</string>
	<key>PROJECT_ID</key>
	<string>klootn-5cb11</string>
	<key>STORAGE_BUCKET</key>
	<string>klootn-5cb11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944533292885:ios:c3de9d3d97f079b4a551dc</string>
	<key>DATABASE_URL</key>
	<string>https://klootn-5cb11-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>